@font-face {
    font-family: test;
    src: url(../font/Tahoma.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0px auto;
}

body {
    font-family: test;
    background-image: url(../img/BG-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    padding-top: 53px;
}

.design-section {
    display: flex;
    justify-content: center;
    padding-top: 223px;

}

.text {
    max-width: 615px;
    text-align: center;
    padding-top: 21px;
    padding-left: 86px;
    color: #131313;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 300;
}

.b {

    font-weight: 800;
}

h1 {
    text-align: center;
    font-size: 51px;
    font-weight: 700;
    letter-spacing: 1.02px;
}

.main-buttons {
    text-align: center;
    padding-top: 36px;
    margin-bottom: 206px;
}

.main-but {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-align: center;
    border: 1px solid #131313;
    border-radius: 5px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-top: 36px;
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: #131313;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 20px;
    outline: none;
}

.main-but:hover {
    background: #f4c32f;
    border-color: #f4c32f;
}

ul li {
    list-style: none;
}

.design {
    max-width: 784px;
}

.main-section {
    background-image: url(../img/bg-second.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-servise {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.76px;
    padding-top: 91px;
    padding-bottom: 82px;
}

.item {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-top: 31px;
    margin-bottom: 19px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 72px;
}

.main-item {
    width: 354px;
    padding-right: 46px;
    text-align: center;
    margin-bottom: 61px;
}

.main-text {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 26px;
}

.facebook {
    text-align: center;
    padding-bottom: 108px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #275fe0;

}

.face {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #abbeea;
}

.last-h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.76px;
    padding-top: 90px;
    margin-bottom: 44px;
}

.last-container {
    display: flex;
    justify-content: space-around;
}

.digit {
    color: #868686;
    font-size: 31px;
    font-weight: 400;
    letter-spacing: 0.62px;
    margin-right: 16px;
}

.last-text {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
    color: #868686;
}

.last-item {
    display: flex;
}

.par-cont {
    margin-left: 20px;
    margin-bottom: 38px;
}

.heading {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 18px;
}

footer {
    background-image: url(../img/bg-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-ul {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 49px;
}

.last-phone {
    max-height: 450px;
    margin-bottom: 50px;
}

.footer-one {
    margin: auto;
    color: #868686;
}